<p data-behavior = "voteCount">
  <small><span class = "text-success" data-behavior="upvoteCount">Upvotes: <%= comment.upvotes%> </span>&nbsp;
  <span class="text-warning" data-behavior="downvoteCount">Downvotes: <%= comment.downvotes%></span></small>
</p>
