<h1>User Verification Mail</h1>

<p>
  Dear <%= @user.first_name %>,

  Welcome to prashna
  </br>
  Please click on the link below to reset your password: 
  <br />
  <%=link_to reset_password_url(@user.forgot_password_token), reset_password_url(@user.forgot_password_token)  %>
  <br />
	This validation link is valid till <%= @user.forgot_password_token_expiry_at %>.
</p>
