
  <%= form_tag(create_password_token_path, method: :post, class: "form-horizontal") do %>
    <fieldset>
    <legend>Forgot Password</legend>
      
    <div class="form-group">
      <%= label_tag :email, 'Email:', class: "col-md-2 control-label" %>
      <div class="col-md-8">
        <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8 col-md-offset-4">
      <p>An activation link would be sent to your registerde email id</p>
      </div>
      <div class="col-md-8 col-md-offset-5">
        <%= submit_tag "Submit", class: "btn btn-default btn-primary" %>
      </div>
    </div>

    </fieldset>
  <% end %>

